*{
    margin: 0%;
    padding: 0%;
    transition: 0.3s;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 243, 240);
    overflow-x: hidden;
    overflow-y: hidden;
}
.menu{
    position: absolute;
    width: 5%;
    height: 100vh;
    background-color: rgb(173, 170, 166);
    float: left;
}
.menu:hover{
    background-color: rgb(245, 244, 241);
    transition: 0.5s;
}
.menu ul{
    cursor:pointer;
    display: none;
}
.menu ul li{
    position: relative;
    padding: 1.5vh 1.5vw 1.5vw 3vw;
    font-size: 30px;
    text-decoration-style: none;
    list-style: none;
    opacity: 0.7;
    color: rgb(59, 59, 59);
}
.menu li:hover{
    opacity: 1;
    padding: 3vh 1.5vw 1.5vw 3vw;
    transition: 0.2s;
    font-size: 33px;
}
#openMenu{
    font-size: 50px;
    color: rgb(60, 56, 56);
    font-weight: 400;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    position: relative;
    right: 5%;
    padding: 1vw 1vw 1vw 1vw;
    background-color: rgb(227, 236, 236);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 20px;
}
.menuBar{
    float: right;
    width: 95%;
    min-width: 75%;
    height: 11vh;
    background-color: rgb(161, 180, 163);

}

#searchButton {
    float: inline-start;
 padding: 5px;
 font-size: 25px;
 border-radius: 5px;
 color: white;
 background-color: rgb(16, 108, 230);
 border-style: none;
}
#searchButton:hover{
    font-size: 30px;
}
.searchBar input{
    width: 35vw;
    height: 5vh;
    font-size: 3vh;
    margin-top: 3vh;
    margin-left: 5vw;
    margin-right: 1vw;
    border-radius: 2vh;
    border-color: rgb(153, 152, 151);
    border-width: 3px;
    color: rgb(67, 64, 64);
}
.searchBar input:hover{
    width: 40vw;
    height: 6vh;
    transition: 0.3s;
}
.searchBar h1{
    float: right;
    z-index: 5;
    padding: 5px;
    position: static;
    margin-top:3vh ;
    margin-right: 2vw;
    font-size:35px;
    background-color: white;
    border-radius: 40%;
    color: rgb(28, 28, 30);
}

.videosList{
    display: grid;
    width: 95%;
    height: 89vh;
    background-color: rgb(104, 108, 108);
    float: right;
    position: relative;
    overflow-y: scroll;
}
.videosList h1{
    font-size: 50px;
    color: white;
    margin-left: 5vw;
    margin-top: 5vh;
}

.videoContainer{
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
    height: auto;
    background-color: rgb(130, 127, 124);
    color: whitesmoke;
    border-radius: 20px;
}
.videoContainer video{
    width: 30vh;
    height:25vh;
    float: left;
    margin-left: 5vw;
    margin-bottom: 3vw;
}
.videoInfo{
    position: relative;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    height: auto;
    width: 60%;
}
.videoInfo h1{
    margin-left: 0%;
    font-size: 50px;
    color: aliceblue;
}
.videoInfo h5{
    color: aliceblue;
    font-weight: lighter;
    margin-top: 15px;
    font-size: 40px;
}
.videoInfo h3{
    color:rgb(45, 190, 227);
    margin-top: 10px;
    font-size: 35px;
}
.videoInfo p{
    position: absolute;
    font-size: 50px;
    float: right;
    display: block  ;
    top: 50%;
    margin-left:100% ;
}


#uploadMenu{
    overflow-y: scroll;
    background-color: rgb(215, 214, 214);
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
    margin: auto;
}
#videoUploadingForm{
    text-align: left;
    background-color: white;
    padding: 5vw;
    border-radius: 1vw;
    margin-left: auto;
    margin-right: auto;
    margin-top:5vh;
    max-width: 600px;
    position: relative;
    align-content: center;
    display: grid;
}
#videoUploadingForm label{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(92, 92, 92);
    display: block;
}
#videoUploadingForm input{
    position: relative;
    text-align:left;
    padding: 20px;
    width: 50vw;
    max-width: 500px;
    height: 50px;
    font-size: 25px;
    border-radius: 6px;
}
#videoUploadingForm textarea{
    padding: 20px;
    position: relative;
   
    width: 50vw;
    border-radius: 5px;
    max-width: 500px;
    height: 80px;
    font-size: 25px;
}
#videoUploadingForm button{
    position: relative;
    width: max-content;
    height: max-content;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 145, 211);
}
.btn button{
    display: flex;
    float: left;
}
#uploadingAnimation{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color:black;
    opacity: 0.7;
    display: grid;
    text-align: center;
}
#uploadingAnimationText{
    position: fixed;
    left: 40vw;
    right: 50vw;
    color: white;
    font-size: 60px;
    margin: auto;
    margin-top: 40vh;

}
#curtain{
    position: fixed;
    transition: 2s;
    top: 0%;
    left: 0%;
    width: 0vw;
    height: 100vh;
    animation: uploadingAnimation 2s alternate infinite;
    background-image: linear-gradient(to left,rgba(79, 79, 79, 0.695),rgba(20, 20, 20, 0.804));
}
@keyframes uploadingAnimation{
    0%{
        width: 0vw;
    }
    100%{
        width: 100vw;
    }
}
.dff{
    color: rgb(225, 69, 58);
}